<div class="topnav">
    
    <img src="logo.png" alt="Italian Trulli">
    
    <a href="/inventory">EKO - Inventory</a>
    
    {{#if fuelStation}}
    <div class="nav-right">

        <a href="/download">CSV export!</a>
        <a href="/orpakDownload">Orpak export!</a>
        <a href="/clear">Clear data!</a>
    </div>
    {{/if}}
</div>